# -----------------------------------
# SC-OBC-A1 Debug Adapter
# -----------------------------------
set debug jtag
set ftchip ft2232d

adapter driver ftdi
if {$ftchip == "ft232hl"} {
   ftdi_vid_pid 0x0403 0x6014
} elseif {$ftchip == "ft2232d"} {
   ftdi_vid_pid 0x0403 0x6010
}
reset_config none

if {$debug == "jtag"} {
   transport select jtag
   ftdi_layout_init 0xfff8 0xfffb
   adapter speed 3000
} elseif {$debug == "swd"} {
   transport select swd
   ftdi_layout_init 0xfff0 0xfff3
   ftdi_layout_signal SWD_EN -data 0
   ftdi_layout_signal SWDIO_OE -data 0
   adapter speed 800
   source [find tcl/target/swj-dp.tcl]
}

set _CHIPNAME scobc
set _XILNAME xilfpga
set _ENDIAN   little
set _CPUTAPID 0x4ba00477
set _XILINXID 0x13636093

if {$debug == "jtag"} {
   jtag newtap $_CHIPNAME cpu -irlen 4 -ircapture 0x1 -irmask 0xf -expected-id $_CPUTAPID
} elseif {$debug == "swd"} {
   swj_newdap $_CHIPNAME cpu -irlen 4 -ircapture 0x1 -irmask 0xf -expected-id $_CPUTAPID
}

dap create $_CHIPNAME.dap -chain-position $_CHIPNAME.cpu
set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME cortex_m -endian $_ENDIAN -dap $_CHIPNAME.dap
